html {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    color: #FFF;
}

body {
    height: 100%;
    margin: 0;
    background-image: url('../images/desktop/bg-image-morning.jpg');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

.morning {
    background-image: url('../images/desktop/bg-image-morning.jpg');
}

.afternoon {
    background-image: url('../images/desktop/bg-image-afternoon.jpg');
}

.evening {
    background-image: url('../images/desktop/bg-image-evening.jpg');
}

.night {
    background-image: url('../images/desktop/bg-image-nighttime.jpg');
}

.main {
    width: 80vw;
    height: 90vh;
    padding: 5vh 10vw;
    position: relative;
}

.quote {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    opacity: 1;
    transition: opacity 0.5s linear;
    font-size: 0.75rem;
}

.quote-content {
    display: inline-block;
    max-width: 90%;
}

.quote-author {
    margin-top: 0.7rem;
    font-weight: bold;
}

.refresh-quote {
    display: inline-block;
}

.refresh-quote-icon {
    margin-left: 1rem;
    margin-top: 0.25rem;
}

.refresh-quote-icon:hover path {
    opacity: 1;
}

.refresh-quote-icon:hover {
    cursor: pointer;
}

.expanded-container,
.clock-container {
    width: 80%;
    height: 40%;
    left: 10%;
    bottom: 5%;
    position: absolute;
}

.expanded-container {
    left: 0vw;
    bottom: 0;
    width: 100vw;
    height: 50%;
    display: flex;
    align-items: top;
    justify-content: center;
    background-color: #fff;
    opacity: 75%;
    z-index: 1;
    height: 0;
    transition: height 0.5s linear;
    overflow: hidden;
}

.expanded-inner {
    margin-top: 5vh;
    display: grid;
    width: 80vw;
    height: 30vh;
    overflow: hidden;
    grid-template-columns: 45% 45%;
    grid-template-rows: 22% 22% 22% 22%;
    row-gap: 4%;
    column-gap: 10%;
    color: #303030;
}

.mr1, .mr2, .mr3, .mr4 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mr1 {
    grid-row: 1;
}

.mr2 {
    grid-row: 2;
}

.mr3 {
    grid-row: 3;
}

.mr4 {
    grid-row: 4;
}

.mc1 {
    grid-column: 1;
}

.mc2 {
    display: flex;
    justify-content: end;
    grid-column: 2;
}

.headline {
    font-size: 0.625rem;
    letter-spacing: 0.16rem;
    text-transform: uppercase;
}

.detail {
    font-size: 1.25rem;
    font-weight: 700;
}

.clock-container {
    padding-top: 2rem;
    bottom: 5%;
    transition: bottom 0.5s linear;
    z-index: 2;
}

.greeting,
.time {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.greeting {
    font-size: 0.9rem;
    line-height: 1.56rem;
    letter-spacing: 0.19rem;
    text-transform: uppercase;
}

.greeting svg {
    margin: 0 0.5rem;
}

.time {
    position: relative;
}

.time-text {
    font-size: 6.25rem;
    line-height: 7rem;
    letter-spacing: -0.16rem;
    font-weight: 700;
}

.time-zone {
    display: inline-block;
    position: relative;
    bottom: -3rem;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.75rem;
}

.location-container {
    position: relative;
    top: 0.5rem;
    width: 100%;
}

.location {
    margin-left: 0.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.75rem;
    letter-spacing: 0.19rem;
    text-transform: uppercase;
}

.sun-and-moon {
    margin-right: 1rem;
}

.currently {
    display: none;
}

img.sun-and-moon {
    width: 5%;
    height: auto;
}

.expand-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    /* position: absolute;
    bottom: 0;
    left: 88%; */
    margin-left: 0.5rem;
    margin-top: 3rem;
    background-color: #fff;
    border-radius: 2rem;
    height: 3rem;
    width: 8.5rem;
}

.expand-text {
    color: black;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.75rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    opacity: 50%;
}

.arrow-button {
    cursor: pointer;
    margin: 0 0.5rem;
    transform: rotate(180deg);
}

.unexpanded .arrow-button {
    transform: rotate(360deg);
}

.expanded .clock-container {
    /* transform: translateY(-90%); */
    bottom: 45%;
    transition: bottom 0.5s linear;
}

.expanded .quote {
    opacity: 0;
    transition: opacity 0.5s linear;
}

.expanded .expanded-container {
    height: 40%;
    transition: height 0.5s linear;
}

.night .sun {
    display: none;
}

.night .expanded-container {
    background-color: #000;
}

.night .expanded-inner {
    color: #fff;
}

.evening .sun {
    display: none;
}

.evening .expanded-container {
    background-color: #000;
}

.evening .expanded-inner {
    color: #fff;
}

.morning .moon {
    display: none;
}

.afternoon .moon {
    display: none;
}